<ion-header class="ion-no-border">
  <div class="page-limit form">

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="cardapio" icon="chevron-back" color="primary"></ion-back-button>
      </ion-buttons>

      <ion-title mode="ios">
        Sacola
      </ion-title>

      <ion-buttons slot="end">
        <ion-button class="limpar" color="primary">
          Limpar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content>

  <div class="page-limit">

    <app-sacola-detalhes-entrega (click)="router.go('/sacola-cliente')" [titulo]="cliente?.nome" [subtitulo]="cliente?.contato" icone="person"></app-sacola-detalhes-entrega>
    <app-sacola-detalhes-entrega (click)="router.go('/sacola-entrega')" [titulo]="getRua()" [subtitulo]="entrega?.complemento" icone="map"></app-sacola-detalhes-entrega>
    <app-sacola-detalhes-entrega (click)="selecionarTipo()" titulo="Entrega" subtitulo="20 - 30min - R$ 1,99" icone="pizza"></app-sacola-detalhes-entrega>

    <div class="sacola-itens">
      <h5>Seus itens</h5>

      <app-cardapio-item [simplificado]="true"></app-cardapio-item>
      <app-cardapio-item [simplificado]="true"></app-cardapio-item>
      <app-cardapio-item [simplificado]="true"></app-cardapio-item>

      <ion-button class="btn-add-item" expand="full"> Adicionar Itens </ion-button>
    </div>

    <ion-item class="bold no-margin" lines="none">
      <ion-label slot="start"> Subtotal </ion-label>
      <ion-label slot="end"> R$ 123,99 </ion-label>
    </ion-item>

    <ion-item class="no-margin" lines="none">
      <ion-label slot="start"> Taxa de Entrega </ion-label>
      <ion-label slot="end"> R$ 1,99 </ion-label>
    </ion-item>

    <ion-item class="bold" lines="none">
      <ion-label slot="start"> Total </ion-label>
      <ion-label slot="end"> R$ 125,98 </ion-label>
    </ion-item>

  </div>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-button class="btn-submit" color="primary" expand="block" (click)="save()"> FAZER PEDIDO </ion-button>

</ion-footer>