<div class="cardapio-restaurante">

  <div class="nome" (click)="router.go('/restaurante')">
    Artisan Restaurant
    <span class="cursor-pointer" >Ver mais</span>
  </div>

  <div class="tipo ion-activatable ripple-parent">
    <div class="texto">
      <span>Entrega</span>
      20 - 30min • R$ 1,99
    </div>
    <ion-icon name="chevron-down-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="pedido-minimo">
    Pedido mínimo: <strong> R$ 10,00</strong>
  </div>


</div>
