<header>

  <ion-thumbnail>
    <img src="https://images.unsplash.com/photo-1466978913421-dad2ebd01d17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80">
  </ion-thumbnail>

  <div class="actions page-limit">
    <div class="start">
      <ion-button color="light">
        <ion-icon color="primary" name="search-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="end">
      <ion-button color="light">
        <ion-icon color="primary" name="share-social-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon color="primary" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </div>
  </div>

</header>
