<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-limit">
    <div class="loading">
      <ng-lottie class="fade-in" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>

    <div *ngIf="!finalizado">
      <h1>Enviando seu pedido</h1>
      <p>Aguarde um pouco enquanto preparemos tudo</p>
    </div>

    <div *ngIf="finalizado">
      <h1>Pedido Enviado</h1>
      <p>Em breve o restaurante irá confirmar seu pedido via WhatsApp</p>

    </div>

  </div>

</ion-content>


<ion-footer class="ion-padding" *ngIf="finalizado">

  <div class="page-limit">
    <ion-text color="primary" >Você também pode entrar em contato com o restaurante</ion-text>
    <ion-button color="primary" expand="block" (click)="contatos()" > Contatos </ion-button>
    <ion-button color="light" expand="block" (click)="cardapio()" class="voltar-cardapio" > voltar ao cardápio </ion-button>
  </div>

</ion-footer>