<ion-item lines="none" class="item-round">
  <ion-label class="dia"> Segunda-Feira </ion-label>
  <ion-label class="horario"> 8h - 16h </ion-label>
</ion-item>

<ion-item lines="none" class="item-round">
  <ion-label class="dia"> Terça-Feira </ion-label>
  <ion-label class="horario"> 8h - 16h </ion-label>
</ion-item>

<ion-item lines="none" class="item-round">
  <ion-label class="dia"> Quarta-Feira </ion-label>
  <ion-label class="horario"> 8h - 16h </ion-label>
</ion-item>

<ion-item lines="none" class="item-round">
  <ion-label class="dia"> Quinta-Feira </ion-label>
  <ion-label class="horario"> 8h - 16h </ion-label>
</ion-item>

<ion-item lines="none" class="item-round">
  <ion-label class="dia"> Sexta-Feira </ion-label>
  <ion-label class="horario"> 8h - 16h </ion-label>
</ion-item>
