<div class="restaurante-contatos">

  <ion-item lines="none" class="item-round">
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>
      (16) 00000-0000
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="item-round">
    <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
    <ion-label>
      (16) 00000-0000
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="item-round">
    <ion-icon name="logo-instagram" slot="start"></ion-icon>
    <ion-label>
      @artisan
    </ion-label>
  </ion-item>

</div>