.cardapio-item {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 15px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--ion-color-medium-tint);

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .text {
      margin-bottom: 20px;
    }

    .nome {
      margin-bottom: 5px;
    }

    .desc {
      font-size: 14px;
      color: var(--ion-color-medium);
    }

    .valor {
      font-weight: bold;
      font-size: 18px;

      span{
        display: none;
      }
    }
  }

  ion-thumbnail {
    width: 100px;
    height: 100px;
    --border-radius: 5px;
    margin-left: 15px;
  }

  &.simplificado {
    border: none !important;
    border-radius: 0px;
    border-bottom: 1px solid var(--ion-color-medium-tint) !important;

    .desc {
      display: none;
    }

    ion-thumbnail {
      width: 45px;
      height: 45px;
    }

    .info {
      .text {
        margin-bottom: 5px;
      }

      .valor span{
        display: unset;
        color: var(--ion-color-primary);
      }
    }
  }
}

.modal-produtos {
  border-radius: 15px;
}

@media (min-width: 1024px) {
  .cardapio-item {
    border: 1px solid var(--ion-color-medium-tint);
    border-radius: 5px;
    padding: 15px;
    margin: 0px;
  }
}
