<div class="cardapio-item ion-activatable ripple-parent" (click)="detalhes()" [ngClass]="{simplificado: simplificado}">

  <div class="info">
    <div class="text">
      <div class="nome">Mussum Ipsum</div>
      <div class="desc">Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris.</div>
    </div>

    
    <div class="valor"> <span class="quantidade">2x</span> R$ 18,99</div>
  </div>


  <ion-thumbnail>
    <img src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80">
  </ion-thumbnail>
  <ion-ripple-effect></ion-ripple-effect>

</div>