.produto {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: max-content;

  ion-thumbnail {
    width: 100%;
    height: 200px;
  }

  .info {
    width: 100%;
    padding: 0px;

    .detalhes{
      padding: 15px;
    }

    .nome {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .desc {
      font-size: 14px;
      color: var(--ion-color-medium);
      margin-bottom: 25px;
    }

    .valor {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

ion-footer{
  
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 18px;

  app-produto-count{
    background-color: var(--ion-color-light-tint);
    border-radius: 5px;
    padding: 5px;
  }

  ion-button{
    flex: 1;
    height: 45px;
    margin-left: 10px;
    --box-shadow: none;

    .btn-valor{
      width: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 1024px) {

  .produto {
    flex-flow: row nowrap;
    height: 100%;

    ion-thumbnail,
    .info {
      height: 100%;
    }

    .actions {
      flex-direction: row-reverse;
      padding: 8px 5px 5px 15px;

      .end ion-button {
        margin-left: 0px;
      }
    }

    .info {
      overflow-y: auto;

      .detalhes{
        padding-top: 20px;
      }

      .nome {
        max-width: calc(100% - 60px);
        margin-bottom: 10px;
      }

      padding-bottom: 75px;
    }
  }

  ion-footer{
    background-color: var(--ion-color-light);
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 50%;
  }
}
