<ion-content>

  <div class="produto">

    <div class="actions">
      <div class="start">
        <ion-button color="light" class="btn-round" (click)="close()">
          <ion-icon color="primary" name="chevron-back-outline" class="mobile-only"></ion-icon>
          <ion-icon color="primary" name="close-outline" class="desktop-only"></ion-icon>
        </ion-button>
      </div>
      <div class="end">
        <ion-button color="light" class="btn-round">
          <ion-icon color="primary" name="share-social-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <ion-thumbnail>
      <img src="https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" alt="">
    </ion-thumbnail>

    <div class="info">
      <div class="detalhes">
        <div class="nome">Mussum Ipsum</div>
        <div class="desc">Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!</div>
        <div class="valor">R$ 18,99</div>
      </div>

      <app-produto-adicional titulo="Selecionar" subtitulo="Selecione uma opção" type="radio"></app-produto-adicional>
      <app-produto-adicional titulo="Adicionais Quantidade" subtitulo="Selecione até 5 itens" type="count"></app-produto-adicional>
    </div>

  </div>

</ion-content>

<ion-footer>

  <app-produto-count [start]="1" ></app-produto-count>

  <ion-button>
    <div class="btn-valor">
      <div class="valor"> R$ 00,00 </div>
      <div class="text" expand="block" fill="solid">Adicionar</div>
    </div>
  </ion-button>

</ion-footer>